html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#controls {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#controls {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 450px;
    z-index: 5;
    background-color: #fff;
    padding: 7px;
    border: 1px solid #999;
}

#showControls {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
}

#distanceRadius {
    width: 50px;
}

.chosen-container {
    text-align: left;
}

.placesControl {
    width: 98%;
}

.hidden {
    display: none;
}

#places {
    width: 60%;
}
