html, body {
  height: 99%; 
  margin: 0;
  padding: 0;
}

#map {
  height: 99%;
}

#controls {
  text-align: center;
}

#places, #address {
  width: 30%;
}

#distanceRadius {
  width: 2%;
}

#showControls {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
}

.chosen-container {
  text-align: left;
}
