html, body {
  height: 99%;
  margin: 0;
  padding: 0;
}

#controls {
  text-align: center;
}

#places, #address {
  width: 30%;
}

#distanceRadius {
  width: 2%;
}

.chosen-container {
  text-align: left;
}

#places-list {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  margin-top: 25px;
}

.full-height{
  height: 99%;
}
